---

# secrets.yml file containing the real secrets must be placed into this directory securely

gitlab_ldap_bind_dn: "cn=git,dc=hkfree,dc=org"
gitlab_ldap_password: "*******"
external_keypair: |
  --- RSA KEY / CERT / OTHER BUNDLED STUFF GOES HERE AS ONE BLOB ---
